*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --green: rgb(208 244 145);
    --grey: rgb(160, 164, 151);
}

.items{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75rem;
}

.items:hover .sizes_section{
    cursor: pointer;
    display: block;
}

.sizes_section{
    position: absolute;
    bottom: 25px;
    display: none;
}

.cost_section{
    bottom: 0px;
    display: none;
}

.new_label{
    width: 30px;
    background-color: var(--green);
    border-radius: 4px;
}

header{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}


main{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#list_of_products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;
}

.items_container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 260px);
    gap: 1rem;
}

main div{
    text-align: center;
}

.menus{
    padding-top: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#text{
    font-size: 0.8rem;
    width: 650px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 25px;
}

#left_menu{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

#filter_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.40rem;
}

li{
    list-style-type: none;
}

#filter_word{
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
}

.filter_box{
    padding-left: 5px;
    padding-right: 5px;
}

ul{
    display: flex;
    border-radius: 7px;
    background-color: rgb(243, 243, 243);
}

.navs{
    background-color: rgb(243, 243, 243);
    border-radius: 7px;
    height: 30px;
    border: none;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sizes{
    width: 45px;
    margin: 1px;
}

.goods{
    height: 33px;   
}

#goods_ul{
    justify-content: center;
    background-color: white;
}

.filter_settings{
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
}

a{
    text-decoration: none;
    font-family: "jetbrains mono";
    text-align: center;
}

::placeholder{
    text-decoration: none;
    font-family: "jetbrains mono";
}

.navs:hover{
    cursor: pointer;
    background-color: rgb(208 244 145);
}

#menu:hover #dropdown_1{
    animation-name: drop1;
    animation-duration: 350ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#shop_all:hover #dropdown_2{
    animation-name: drop2;
    animation-duration: 350ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login:hover #dropdown_3{
    animation-name: drop3;
    animation-duration: 450ms;
    display: flex;
    flex-direction: column;
}

#register:hover #dropdown_4{
    animation-name: drop4;
    animation-duration: 450ms;
    display: flex;
    flex-direction: column;
}

#cart:hover #dropdown_5{
    animation-name: drop5;
    animation-duration: 350ms;
    display: block;
}

.radio_props:hover{
    cursor: pointer;
}

#forgot:hover{
    cursor: pointer;
    color: var(--grey);
}

.terms:hover{
    color: rgb(208 244 145);
    text-decoration-color: black;
}

#sign_in:hover{
    cursor: pointer;
    background-color: rgb(208 244 145);
    color: black;
    border: none;
}

input:hover{
    border: 1px solid black;
}

#logo{
    display: flex;
    justify-content: center;
    height: 90px;
    position: fixed;
    top: 1rem;
    left: 50%;
    right: 50%;
}

#logo_image{
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 90px;
}

#logo_image:hover{
    cursor:pointer;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.content li{
    font-size: 0.9em;
}

.content a:hover{
    cursor: pointer;
    color: var(--grey);
}

.dropdown{
    border-radius: 7px;
    width: 21.3%;
    background-color: rgb(243, 243, 243);
    position: fixed;
    box-shadow: 4px 2px;
    display: none;
}

#dropdown_1{
    height: 122px;
}

#dropdown_2{
    height: 144px;
    left: 20px;
}

#dropdown_3{
    height: 260px;
    width: 250px;
}

#dropdown_4{
    right: 18px;
    padding-top: 10px;
    height: 420px;
    width: 250px;
    
}

#dropdown_5{
    right: 18px;
    height: 50px;
    width: 250px;
    align-content: center;
    padding-left: 15px;
}

#dropdown_5 a{
    font-size: 0.8em;
}


#welcome{
    padding-left: 15px;
    font-size: 0.9em;
    display: flex;
    height: 60px;
    align-items: center;
}

.form_block{
    padding-left: 5px;
    display: flex;
    align-items: center;
    height: 65px;
}

#radio{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.radio_stuff{
    display:flex;
    align-items: center;
}

.radio_stuff label{
    margin: 6px;
    font-size: 0.72em;
}

.radio_props{
    appearance: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%px;
    border: 1px dashed black;
    background-color: rgb(243, 243, 243);
}

.radio_props::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}

.radio_props:checked{
    border-color: rgb(208 244 145);
}

.radio_props:checked::before {
    background: rgb(208 244 145);
}

input[type=text]{
    padding-left: 8px;
    height: 60px;
    width: 230px;
    border-radius: 7px;
    border: 1px dashed black;
    background-color: rgb(243, 243, 243);
}

#sign_in{
    animation-name: opacity;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 60px;
    width: 230px;
    border-radius: 7px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

#forgot{
    font-size: 0.7em;
    position: relative;
    left: 175px;
    bottom: 100px;
}

.terms{
    text-decoration: underline;
}


@keyframes rotate{
    100%{transform: rotateY(360deg)};
}

@keyframes drop1{
    from{height: 60px};
    to{height: 122px};
}

@keyframes drop2{
    from{height: 90px};
    to{height: 144px};
}

@keyframes drop3{
    from{height: 200px};
    to{height: 260px};
}

@keyframes drop4{
    from{height: 390px};
    to{height: 420px};
}

@keyframes drop5{
    from{height: 30px};
    to{height: 50px;};
}

@keyframes opacity{
    50%{opacity: 50%;}
}

